.center_div{
    display: inline-block;
}

#frame1_2{
    border: 3px dotted;
    /* TODO - Set the width and height of the iframes */
    width: 40%;
    height: 40%;

    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

#frame3{
    /* TODO - Set the width and height of the iframes */
    
    margin-top: 5%;
}
